@use '../base/index' as *;

.btn {

	height: var(--inter-height);

	padding: 0;
	border: none;
	border-radius: var(--border-radius);

	background-color: var(--color-input);
	color: var(--color-input-text);

	&:hover {
		background-color: var(--color-input-dark);
	}

	&:disabled {
		color: var(--color-text);
		background-color: var(--color-input-disabled);
	}

	&--delete {
		padding-inline: 10px;

		color: var(--color-input-text);
		background-color: var(--color-input-warning);

		&:hover {
			background-color: var(--color-input-warning-hover);
		}
	}

	&--draw {
		padding-inline: 10px;
	}
}