.btn {

	height: var(--inter-height);

	padding: 0;
	border: none;
	border-radius: var(--border-radius);

	background-color: var(--color-input);
	color: var(--color-input-text);

	padding-inline: 10px;
}

.btn:hover {
	background-color: var(--color-input-dark);
}

.btn:disabled {
	color: var(--color-text);
	background-color: var(--color-input-disabled);
}

.btn--delete {

	color: var(--color-input-text);
	background-color: var(--color-input-warning);
}

.btn--delete:hover {
	background-color: var(--color-input-warning-hover);
}


.btn--save {
	background-color: var(--color-input-save);
}

.btn--save:hover {
	background-color: var(--color-input-save-hover);
}

.btn--save:disabled {
	color: var(--color-text);
	background-color: var(--color-input-disabled);
}


.btn--cancel {
	color: var(--color-input-text);
	background-color: var(--color-input-warning);
}

.btn--cancel:hover {
	background-color: var(--color-input-warning-hover);
}