@use '../base/index' as *;

.btn {

	height: var(--inter-height);

	padding: 0;
	border: none;
	border-radius: var(--border-radius);

	background-color: var(--color-input);
	color: var(--color-input-text);

	padding-inline: 10px;

	&:hover {
		background-color: var(--color-input-dark);
	}

	&:disabled {
		color: var(--color-text);
		background-color: var(--color-input-disabled);
	}

	&--delete {

		color: var(--color-input-text);
		background-color: var(--color-input-warning);

		&:hover {
			background-color: var(--color-input-warning-hover);
		}
	}

	&--save {
		background-color: var(--color-input-save);

		&:hover {
			background-color: var(--color-input-save-hover);
		}

		&:disabled {
			color: var(--color-text);
			background-color: var(--color-input-disabled);
		}

	}

	&--cancel {
		color: var(--color-input-text);
		background-color: var(--color-input-warning);

		&:hover {
			background-color: var(--color-input-warning-hover);
		}
	}

	&--link {
		color: var(--color-text);
		background-color: var(--color-background-card);
		border: var(--border);

		&:hover {
			background-color: var(--color-background-s);
		}
	}

}