@use '../base/index' as *;

.header {
	text-align: center;

	&__body {
		padding-top: 12rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		width: 18.75rem;
	}

	&__btn {
		width: 9.375rem;
	}

	&__warning {
		padding-top: 0.625rem;

		font-size: 14px;
	}
}