@use '../base/index' as *;

.input {
	height: var(--inter-height);

	padding-inline: 0.5rem;

	color: var(--color-text);

	outline: none;
	border: var(--border);
	border-radius: var(--border-radius);

	&--warning {
		border-color: var(--color-input-warning);

		outline: var(--outline);
		outline-color: color-mix(in srgb, var(--color-input-warning) 20%, transparent);

	}

}