@use '../base/index' as *;

.tabs {

	&__wrapper {
		padding-top: 1rem;

		display: flex;
		justify-content: space-between;
	}

	&__btn {
		background: none;
		color: var(--color-text);

		&:hover {
			background: none;

			color: var(--color-input);

			text-decoration: underline;
		}

		&--activated {
			color: var(--color-input-dark);

			text-decoration: underline;
		}
	}

}