.tabs__wrapper {
	padding-top: 1rem;

	display: flex;
	justify-content: space-between;
}

.tabs__btn {
	background: none;
	border: none;
	color: var(--color-text);
}

.tabs__btn:hover {
	background: none;

	color: var(--color-input);

	text-decoration: underline;
}

.tabs__btn--activated {
	color: var(--color-input-dark);

	text-decoration: underline;
}