

.wrapper {
	display: flex;
	justify-content: space-between;
}

.btn {
	background: none;
	border: none;
	color: var(--color-text);
}

.btn:hover {
	background: none;

	color: var(--color-input);

	text-decoration: underline;
}

.btn--activated {
	color: var(--color-input-dark);

	text-decoration: underline;
}