.input {
	height: var(--inter-height);

	padding-inline: 0.5rem;

	color: var(--color-text);

	outline: none;
	border: var(--border);
	border-radius: var(--border-radius);
}

.input--focus:focus {
	border-color: var(--color-input);
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.input--warning {
	border-color: var(--color-input-warning);

	outline: var(--outline);
	outline-color: color-mix(in srgb, var(--color-input-warning) 20%, transparent);
}

.btn {
	width: 9.375rem;
	height: var(--inter-height);

	padding: 0;
	border: none;
	border-radius: var(--border-radius);

	background-color: var(--color-input);
	color: var(--color-input-text);

	padding-inline: 10px;
}

.btn:hover {
	background-color: var(--color-input-dark);
}

.btn:disabled {
	color: var(--color-text);
	background-color: var(--color-input-disabled);
}

.warning {
	padding-top: 0.625rem;

	font-size: 0.875rem;
}

.error {
	margin-top: 1.25rem;
}