:root {
	--color-background-s: #FFF2F2;
	--color-accent: #A9B5DF;
	--color-text: #5c6578;

	--color-input: #7886C7;
	--color-input-dark: #2D336B;

	// границы
	--border: 1.6px solid var(--color-accent);
	--outline: 2px solid;

	// закруглённость границ объектов
	--border-radius: 5px;

	// параметры контейнера
	--container-width: 500px;
	--container-padding-x: 16px;

	// отступы
	--section-padding-y: 30px;
	--block-padding-y: 18px;
	--block-padding-x: 16px;

	// высота input и btn
	--inter-height: 30px;

	// скорость анимации тегов
	--transition-duration: .2s;
}